@font-face {
	font-family: 'socialize';
	src:url('../fonts/socialize.eot?-nxow1h');
	src:url('../fonts/socialize.eot?#iefix-nxow1h') format('embedded-opentype'),
		url('../fonts/socialize.woff?-nxow1h') format('woff'),
		url('../fonts/socialize.ttf?-nxow1h') format('truetype'),
		url('../fonts/socialize.svg?-nxow1h#socialize') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'socialize';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file:before {
	content: "\e600";
}
.icon-pen:before {
	content: "\e601";
}
.icon-pen2:before {
	content: "\e602";
}
.icon-flickr:before {
	content: "\72";
}
.icon-flickr2:before {
	content: "\52";
}
.icon-vimeo:before {
	content: "\76";
}
.icon-vimeo2:before {
	content: "\56";
}
.icon-twitter:before {
	content: "\74";
}
.icon-twitter2:before {
	content: "\54";
}
.icon-facebook:before {
	content: "\66";
}
.icon-facebook2:before {
	content: "\46";
}
.icon-googleplus:before {
	content: "\67";
}
.icon-googleplus2:before {
	content: "\47";
}
.icon-pinterest:before {
	content: "\70";
}
.icon-pinterest2:before {
	content: "\50";
}
.icon-tumblr:before {
	content: "\e603";
}
.icon-tumblr2:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-linkedin2:before {
	content: "\e606";
}
.icon-dribbble:before {
	content: "\e607";
}
.icon-dribbble2:before {
	content: "\e608";
}
.icon-stumbleupon:before {
	content: "\e609";
}
.icon-stumbleupon2:before {
	content: "\e60a";
}
.icon-instagram:before {
	content: "\69";
}
.icon-behance:before {
	content: "\e60b";
}
.icon-youtube:before {
	content: "\79";
}
.icon-yelp:before {
	content: "\e60c";
}

.block-btns{

	a{
		@include inline-block;

		&:hover{
			color: #fff !important;
		}
	}

	.icon-vimeo:hover{
		background-color:  #aad450;
	}
	.icon-twitter:hover{
		background-color: #00aced;
	}
	.icon-facebook:hover{
		background-color: #3b5998;
	}
	.icon-googleplus:hover{
		background-color: #dd4b39;
	}
	.icon-pinterest:hover{
		background-color: #cb2027;
	}
	.icon-instagram:hover{
		background-color: #517fa4;
	}
	.icon-linkedin:hover{
		background-color: #517fa4;
	}
}

